<!DOCTYPE html>
<html lang="en">

<head>

<title>Aula</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="estilo.css">

</head>

<body>


        <div class="header">
                <h1>Calendario de reuniones</h1>
        </div>



        <div class="navbar">
                <a href="perfil.html">Mi perfil</a>
                <a href="noticias.html">Noticias</a>
                <div class="dropdown">
                  <button class="dropbtn">Cursos 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="curso.html">Curso 01</a>
                    <a href="#">Curso 02</a>
                    <a href="cursos.html">Inscribir Curso</a>
                  </div>
                </div> 
                <a href="calendario.html" class="right">Calendario</a>
        </div>

        <div class="month"> 
                <ul>
                  <li>Mayo 2018</span></li>
                </ul>
              </div>
              
              <ul class="weekdays">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Do</li>
              </ul>
              
              <ul class="days"> 
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li><span class="active">10</span></li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li><span class="active">17</span></li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li><span class="active">25</span></li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
              </ul>
</body>

</html>