<!DOCTYPE html>
<html lang="en">

<head>

<title>Aula</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="estilo.css">

</head>

<body>


        <div class="header">
                <h1>Ultimas noticias de tus cursos</h1>
        </div>



        <div class="navbar">
                <a href="perfil.html">Mi perfil</a>
                <a href="noticias.html">Noticias</a>
                <div class="dropdown">
                  <button class="dropbtn">Cursos 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="curso.html">Curso 01</a>
                    <a href="#">Curso 02</a>
                    <a href="cursos.html">Inscribir Curso</a>
                  </div>
                </div> 
                <a href="calendario.html" class="right">Calendario</a>
        </div>



        
        
    <div class="rowN">
        <div class="columnN">
          <h2>Nueva Tarea</h2>
          <p>Debes entregar una nueva tarea para el Curso 01 (Tarea 4)</p>
          <a href="tarea.html"><button class="btn success">Ir</button></a>
        </div>
        <div class="columnN2">
          <h2>Nuevo Material</h2>
          <p>Se ha añadido el video tutorial de la clase 04 para el Curso 01</p>
          <a href="videos.html"><button class="btn success">Ir</button></a>
        </div>
     
      
     
        <div class="columnN2" >
          <h2>Nueva Reunion</h2>
          <p>Se ha agendado una nueva reunion para el Curso 01 (17/05/18)</p>
          <a href="calendario.html"><button class="btn success">Ir</button></a>
        </div>
        <div class="columnN" >
          <h2>Nuevo Curso disponible</h2>
          <p>Puedes inscribir un nuevo curso, ve los detalles mediante el link</p>
          <a href="cursos.html"><button class="btn success">Ir</button></a>
        </div>
        <div class="columnN" >
            <h2>Nueva Tarea</h2>
            <p>Debes entregar una nueva tarea para el Curso 01 (Tarea 3)</p>
            <a href="tarea.html"><button class="btn success">Ir</button></a>
        </div>
        <div class="columnN2" >
            <h2>Nueva Reunion</h2>
            <p>Se ha agendado una nueva reunion para el Curso 01 (10/05/18)</p>
            <a href="calendario.html"><button class="btn success">Ir</button></a>
          </div>
         
          </div>


</body>

</html>