<!DOCTYPE html>
<html lang="en">

<head>

<title>Aula</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="estilo.css">

</head>

<body>


        <div class="header">
                <h1>Tareas</h1>
                <h2>Curso 01</h2>
        </div>



        <div class="navbar">
                <a href="perfil.html">Mi perfil</a>
                <a href="noticias.html">Noticias</a>
                <div class="dropdown">
                  <button class="dropbtn">Cursos 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="curso.html">Curso 01</a>
                    <a href="#">Curso 02</a>
                    <a href="#">Inscribir Curso</a>
                  </div>
                </div> 
                <a href="calendario.html" class="right">Calendario</a>
        </div>


        
    <div class="rowT">
        <div class="columnT">
          <h2>Tarea 1</h2>
          <div class="btn-group">
                <button class="btn success">Entregar</button>
                <button class="btn warning">Modificar</button>
                <button class="btn danger">Borrar</button>
                <button class="btn success2">Ver detalles</button>
          </div>
        </div>
        <div class="columnT">
          <h2>Tarea 2</h2>
          <div class="btn-group">
                <button class="btn success">Entregar</button>
                <button class="btn warning">Modificar</button>
                <button class="btn danger">Borrar</button>
                <button class="btn success2">Ver detalles</button>
          </div>
        </div>
      </div>
      
      <div class="rowT">
        <div class="columnT">
          <h2>Tarea 3</h2>
          <div class="btn-group">
                <button class="btn success">Entregar</button>
                <button class="btn warning">Modificar</button>
                <button class="btn danger">Borrar</button>
                <button class="btn success2">Ver detalles</button>
          </div>
        </div>
        <div class="columnT">
          <h2>Tarea 4</h2>
          <div class="btn-group">
                <button class="btn success">Entregar</button>
                <button class="btn warning">Modificar</button>
                <button class="btn danger">Borrar</button>
                <button class="btn success2">Ver detalles</button>
          </div>
        </div>
      </div>






</body>

</html>